.green {
    background-color: green;
    color: black;
}

.yellow {
    background-color: yellow;
    color: black;
}

.orange {
    background-color: orange;
    color: black;
}

.red {
    background-color: red;
    color: black;
}

.circle {
    aspect-ratio: 1 / 1;
    width: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    width: 290px;
    height: 300px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.magnitude {
    display: flex;
    height: 66.66%;
    font-size: 140px;
    align-items: center;
}

.location,
.time {
    display: flex;
    height: 33.33%;
    align-items: center;
}